<div style="display: flex" class="top-logo">
  <img src="../../../assets/logo.svg" alt="logo" />
</div>
<div id="nav-wrapper" class="bar-wrapper">
  <div style="display: flex">
    <div class="bar-wrapper_nav-bar">
      <div class="bar-wrapper_nav-bar_psnlogo">
        <img
          class="bar-wrapper_psnlogo"
          src="../../../assets/playstation-logo.svg"
          alt="Playstation Logo"
        />
      </div>
      <div class="bar-wrapper_nav-bar_items">
        <ul class="bar-wrapper_nav-bar_items_list">
          <li class="bar-wrapper_nav-bar_item">Jogos</li>
          <li class="bar-wrapper_nav-bar_item">PS5</li>
          <li class="bar-wrapper_nav-bar_item">PS4</li>
          <li class="bar-wrapper_nav-bar_item">Serviços</li>
          <li class="bar-wrapper_nav-bar_item">Acessórios</li>
          <li class="bar-wrapper_nav-bar_item">Notícias</li>
          <li class="bar-wrapper_nav-bar_item">Loja</li>
          <li class="bar-wrapper_nav-bar_item">Suporte</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="bar-wrapper_nav-bar_buttons">
    <button class="btnlogin">Iniciar sessão</button>
    <div class="searchinput-wrapper">
      <input class="searchinput" type="text" placeholder="Pesquisar" />
      <img
        style="width: 23px; height: 23px"
        src="assets/icons/search_icon.svg"
      />
    </div>
  </div>
</div>
