<div style="display: flex" class="top-logo">
  <img src="../../../assets/logo.svg" alt="logo" />
</div>
<div class="bar-wrapper">
  <div style="display: flex">
    <div class="bar-wrapper_nav-bar">
      <div class="bar-wrapper_nav-bar_psnlogo">
        <img
          class="bar-wrapper_psnlogo"
          src="../../../assets/playstation-logo.svg"
          alt="Playstation Logo"
        />
      </div>
      <div class="bar-wrapper_nav-bar_items">
        <ul class="bar-wrapper_nav-bar_items_list">
          <li>Jogos</li>
          <li>PS5</li>
          <li>PS4</li>
          <li>Serviços</li>
          <li>Acessórios</li>
          <li>Notícias</li>
          <li>Loja</li>
          <li>Suporte</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="bar-wrapper_nav-bar_buttons">
    <button class="btnlogin">Iniciar sessão</button>
    <div class="searchinput-wrapper">
      <input class="searchinput" type="text" placeholder="Pesquisar" />
      <img
        style="width: 23px; height: 23px"
        src="assets/icons/search_icon.svg"
      />
    </div>
  </div>
</div>
