<div class="news-wrapper">
  <img
    class="img_banner"
    src="../../../../../assets/bg_store.jpg"
    alt="Store banner"
  />
  <div class="span-text">
    <span> Days </span>
    <span> of </span>
    <span> Play</span>
  </div>
  <div>
    <div class="small-sales">
      <div>
        <img
          src="https://gmedia.playstation.com/is/image/SIEPDC/days-of-play-2025-keyart-01-22apr25$en?$1200px$"
          alt="Game 1"
        />
      </div>
      <div>
        <img
          src="https://gmedia.playstation.com/is/image/SIEPDC/Elden-Ring-Nightreign-Keyart-01-06feb25?$1200px$"
          alt="Game 1"
        />
      </div>
      <div>
        <img
          src="https://gmedia.playstation.com/is/image/SIEPDC/game-range-2025-keyart-01-en-27may25?$1200px$"
          alt="Game 1"
        />
      </div>
      <div>
        <img
          src="https://gmedia.playstation.com/is/image/SIEPDC/days-of-play-2025-ps-plus-keyart-02-22may25$en?$1200px$"
          alt="Game 1"
        />
      </div>
      <div>
        <img
          src="https://gmedia.playstation.com/is/image/SIEPDC/madden-nfl-26-deluxe-edition_keyart-01-en-29may25?$1200px$"
          alt="Game 1"
        />
      </div>
      <div>
        <img
          src="https://gmedia.playstation.com/is/image/SIEPDC/zenless-zone-zero-keyart-01-en-21may25?$1200px$"
          alt="Game 1"
        />
      </div>
    </div>
  </div>
</div>
