<div class="news-wrapper">
  <img
    class="img_banner"
    src="../../../../../assets/bg_store.jpg"
    alt="Store banner"
  />
  <div class="small-sales">
    <div>
      <img
        src="https://gmedia.playstation.com/is/image/SIEPDC/days-of-play-2025-keyart-01-22apr25$en?$1200px$"
        alt="Game 1"
      />
    </div>
    <div>
      <img
        src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/back/shiny/132.png"
        alt="Game 1"
      />
    </div>
    <div>
      <img
        src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/back/shiny/132.png"
        alt="Game 1"
      />
    </div>
    <div>
      <img
        src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/back/shiny/132.png"
        alt="Game 1"
      />
    </div>
    <div>
      <img
        src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/back/shiny/132.png"
        alt="Game 1"
      />
    </div>
  </div>
</div>
